@model SolarCRM.Models.ContactUs

@{
    ViewData["Title"] = "Index";
}
<div class="card-group">

    <div class="contact100-more flex-col-c-m card" style="background-image: url('images/bg-01.jpg');">
        
        

    </div>

    <div class="card">
        <div class="card-body">
            <form asp-antiforgery="true" asp-controller="ContactUs" asp-action="CreateContactUsRequest">


                <div class="form-group">

                    <div class="row">
                        <div class="col-xl-12 col-sm-12">

                            <h5 class="section-title"><span>Contact Us</span></h5>

                            <div class="row">
                                <div class="col-md-6">

                                    <label for="FirstName">First Name</label>
                                    <input class="form-control" asp-for="FirstName" />
                                </div>
                                <div class="col-md-6">
                                    <label for="LastName">Last Name</label>
                                    <input class="form-control" asp-for="LastName" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <label for="Email">Email</label>
                                    <input class="form-control" asp-for="Email" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="PhoneNumber">Phone Number</label>
                                    <input class="form-control" asp-for="PhoneNumber" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12  pdf-col-12">
                                    <label for="Message">Message</label>
                                    <textarea class="form-control" asp-for="Message"> </textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


